/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-logo: 300;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
    --ff-apple-normal: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica Neue,
        sans-serif;
}

/* Tables */
@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

/* Normal Desktops */
@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));

    line-height: 1.5;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden !important; /* NAV MOBILE BUTTON PURPOSE */
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
    /* for SPAN purpose */
}

/*    equivalent to * + *     */
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);

}

/* container should be similar to the grid-container */
.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
}

.grid-container * {
    max-width: 50ch;
    padding-inline: 1rem;
}


/* “If [device width] is greater than or equal to 700px */
@media (min-width: 45rem) {

    /* By default grid creates the grid-columns so there's no need to re-specify them outside of this scope */
    .grid-container {
        border: 8px solid limegreen;
        display: grid;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr) !important;
    }

    .grid-container > *:first-child {
        grid-column: 2;
        border: 8px solid red;

    }

    .grid-container > *:last-child {
        grid-column: 3;
        border: 8px solid yellow;
    }

    .grid-container--home {
        padding-bottom: 6rem;
        align-items: end;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

/* colors */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-accent {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-accent {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}
.fs-logo {
    font-weight: var(--fs-logo);
    font-size: var(--fs-600);
    letter-spacing: 2rem;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl(var(--clr-white) / .25);
}


/* ------------------- */
/* Compontents         */
/* ------------------- */


.large-button {
    font-size: 2rem;
    position: relative;
    display: inline-grid;
    padding: 0 2em;
    aspect-ratio: 1;
    place-items: center;
    text-decoration: none;
    border-radius: 50%;
    z-index: 1;
}

.large-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: hsl(var(--clr-white) / .15);
    z-index: -1;
    transition: opacity 500ms linear, transform 750ms ease;
    opacity: 0;
}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.5);
    opacity: 1;
    flex-direction: column;
    padding: 0;
}

/* primary-header */

.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    
    /* width: 48px;
    height: 48px; */
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    --underline-gap: 2rem;
    list-style: none;
    padding-inline: 2rem;
    margin: 0;
    background: hsl(var(--clr-dark) / 0.95) !important;
    transition: transform 500ms ease-in-out;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav--toggle {
    display: none;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: 2rem;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 20%;
        z-index: 1000;
        transform: translateX(100%); /* Keep nav bar out of the screen until a button handler */
    }

    .primary-navigation[data-visible="true"] { 
        transform: translateX(0);
    }


    .primary-navigation.underline-indicators > .active {
        border-color: hsl(var(--clr-white) / 0) !important;
    }

    .mobile-nav--toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background: url(./assets/minimize.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav--toggle[aria-expanded="true"] { 
        background: url(./assets/close.svg);
        background-repeat: no-repeat;
    }

    .mobile-nav--toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }
}

/* HIDE Numbers for tablets */
@media (min-width: 35em) and (max-width: 45em) {
    /* .primary-navigation {
        padding-inline: 3rem;
    } */

    .primary-navigation a > span {
        display: none;
    }
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border-bottom: .3rem solid hsl(var(--clr-white) / 0) !important;
    position: relative;
}

/* .underline-indicators>*:hover,
.underline-indicators>*:focus {
    border-color: hsl(var(--clr-white) / .5);
} */

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    border-color: hsl(var(--clr-white) / 1) !important;
}

.underline-indicators > *::after {
    content: "";
    background: hsl(var(--clr-white) / .5) !important;
    position: absolute;
    height: 4px;
    /* 3px ideally */
    width: 0;
    bottom: -4px;
    right: 0%;
    transition: all 300ms ease;
}

.underline-indicators > *:hover::after,
.underline-indicators > *:focus::after {
    width: 100%;
    left: 0;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl(var(--clr-white) / .25) !important;
    transition: background-color 500ms ease;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl(var(--clr-white) / .5) !important;
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1) !important;
}

.number-indicators > * {
    cursor: pointer;
    border: 1px solid hsl(var(--clr-white) / .5);
    flex-direction: column;
    border-radius: 50%;
    padding: 2em;
    background-color: hsl(var(--clr-dark)) !important;
    transition: border 500ms ease-in-out;
}

.number-indicators > *:hover,
.number-indicators > *:focus {
    border: 1px solid hsl(var(--clr-white));
}

.number-indicators > [aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1) !important;
}


/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */

body {
    background-size: cover;
    background-position: bottom center;
}

/* home */

.home {
    background-image: url(./assets/space-mobile.jpeg);
}

/* Desktop */
@media (min-width: 45rem) {
    .home {
        background-image: url(./assets/space.jpeg);
    }
}


/* https: //stackoverflow.com/questions/58087446/all-media-queries-for-iphone-13-pro-max-mini-and-older-iphones */

/* ----------- Older iPhones (X, Xs, XR and 11) ----------- */
/* 1792x828px at 326ppi */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .home {
        background-position: center center;
    }
}